.top-bar{
  position: fixed;
  padding-top: 15px;
  top: 0;
  width: 80%;
  height: 60px;
  display: flex;
  h1{
    font-size: 21px;
    font-weight: 100;
    color: #ffff;
  }
  .c{
    margin-left: -10px;
    border: none;
    border-radius: 5px;
    width: 20px;
    height: 5px;
    transform: rotate(-45deg);
  }
}
